In [6]:
# -*- coding: utf-8 -*-
import dataiku
import pandas as pd, numpy as np
from dataiku import pandasutils as pdu

# create an empty dataset with ID column 

# dummy_data = pd.DataFrame(np.random.rand(100, 10))
# dummy_data['Id'] = list(range(10))*10

# # # save it to the dataframe 
# inp = dataiku.Dataset("test")
# inp.write_with_schema(dummy_data)

100 rows successfully written (LDPzkLgYTp)

In [7]:
# Read recipe inputs and take the input schema to output dataset 

inp = dataiku.Dataset("test")
out = dataiku.Dataset("output")
out.write_schema_from_dataframe(inp.get_dataframe())

In [0]:
for df in inp.iter_dataframes(chunksize=10):

In [0]:

with out.get_writer() as writer:
    for df in inp.iter_dataframes(chunksize=10):
        
        print(df.head())
        # Write the processed dataframe
        for i in range(10):
            tmp = np.round(df[df['Id'] == i] * (i+1000))

        writer.write_dataframe(df)

In [5]:
# -------------------------------------------------------------------------------- NOTEBOOK-CELL: CODE
# for some of the IDs we want to replace the content 
for i in range(5):

#    tmp = dummy_data[dummy_data['Id'] == i] * i
    tmp = np.round(dummy_data[dummy_data['Id'] == i] * (i+1000))

    with dataiku.Dataset("test").get_writer() as writer:

        for (origin,count) in tmp.items():
            print(count)

            writer.write_row_array((origin,count))

0     543.0
10    598.0
20    440.0
30    463.0
40    400.0
50    944.0
60    266.0
70    910.0
80    748.0
90    172.0
Name: 0, dtype: float64
0     427.0
10    550.0
20    468.0
30    601.0
40    313.0
50    959.0
60    361.0
70    850.0
80    232.0
90    119.0
Name: 1, dtype: float64
0     825.0
10    719.0
20     65.0
30    123.0
40    594.0
50     79.0
60    559.0
70    603.0
80    971.0
90    513.0
Name: 2, dtype: float64
0     829.0
10    360.0
20    324.0
30     49.0
40    736.0
50    969.0
60    818.0
70    771.0
80    253.0
90    802.0
Name: 3, dtype: float64
0     103.0
10    950.0
20    652.0
30    834.0
40    363.0
50    685.0
60    537.0
70    665.0
80    288.0
90    541.0
Name: 4, dtype: float64
0     184.0
10    711.0
20     81.0
30    678.0
40    356.0
50    475.0
60     41.0
70     19.0
80    675.0
90    933.0
Name: 5, dtype: float64
0     800.0
10    111.0
20    909.0
30    592.0
40    415.0
50     89.0
60    604.0
70    748.0
80    792.0
90    729.0
Name: 6, dtype: float64
0     891.0
10    784.0
20    213.0
30     92.0
40    571.0
50    623.0
60     85.0
70    393.0
80    322.0
90    236.0
Name: 7, dtype: float64
0     414.0
10    733.0
20    100.0
30    721.0
40    761.0
50    913.0
60    351.0
70    439.0
80    611.0
90    838.0
Name: 8, dtype: float64
0     341.0
10    913.0
20    745.0
30    546.0
40    180.0
50    111.0
60    456.0
70    723.0
80    320.0
90    278.0
Name: 9, dtype: float64
0     0
10    0
20    0
30    0
40    0
50    0
60    0
70    0
80    0
90    0
Name: Id, dtype: int64
11 rows successfully written (KFNmPhlkMO)
1     244.0
11     31.0
21    509.0
31     44.0
41    179.0
51    802.0
61    985.0
71    891.0
81    589.0
91    902.0
Name: 0, dtype: float64
1     588.0
11    188.0
21    983.0
31    546.0
41    695.0
51    889.0
61    272.0
71    457.0
81    263.0
91    486.0
Name: 1, dtype: float64
1     406.0
11    397.0
21    498.0
31    151.0
41    887.0
51    358.0
61    547.0
71    535.0
81    554.0
91    559.0
Name: 2, dtype: float64
1     903.0
11    885.0
21    825.0
31    268.0
41    255.0
51    806.0
61    722.0
71    940.0
81    611.0
91    506.0
Name: 3, dtype: float64
1     986.0
11    974.0
21    703.0
31    978.0
41    938.0
51    892.0
61    133.0
71    564.0
81    881.0
91    706.0
Name: 4, dtype: float64
1     273.0
11    539.0
21    382.0
31    965.0
41    490.0
51    451.0
61    777.0
71    378.0
81    808.0
91    379.0
Name: 5, dtype: float64
1     245.0
11      8.0
21    521.0
31    805.0
41    271.0
51    141.0
61    411.0
71    506.0
81    270.0
91    732.0
Name: 6, dtype: float64
1     623.0
11    713.0
21    554.0
31    156.0
41    589.0
51    723.0
61    744.0
71    615.0
81    280.0
91    568.0
Name: 7, dtype: float64
1     669.0
11    501.0
21    953.0
31     22.0
41    248.0
51    419.0
61    378.0
71    244.0
81    120.0
91    887.0
Name: 8, dtype: float64
1     180.0
11    613.0
21    644.0
31    606.0
41    729.0
51    385.0
61    759.0
71      3.0
81    123.0
91    306.0
Name: 9, dtype: float64
1     1001
11    1001
21    1001
31    1001
41    1001
51    1001
61    1001
71    1001
81    1001
91    1001
Name: Id, dtype: int64
11 rows successfully written (URMJQrE0pY)
2      21.0
12    592.0
22    439.0
32     35.0
42     26.0
52     54.0
62    154.0
72     79.0
82    123.0
92    208.0
Name: 0, dtype: float64
2      72.0
12    748.0
22    998.0
32    825.0
42    802.0
52    356.0
62    108.0
72    762.0
82    833.0
92    544.0
Name: 1, dtype: float64
2     494.0
12     14.0
22    717.0
32    562.0
42    790.0
52    633.0
62    720.0
72    397.0
82    772.0
92    349.0
Name: 2, dtype: float64
2     659.0
12    805.0
22    326.0
32    799.0
42    479.0
52    789.0
62    902.0
72    192.0
82    161.0
92    547.0
Name: 3, dtype: float64
2     686.0
12    620.0
22    127.0
32    565.0
42    654.0
52    334.0
62    538.0
72    413.0
82    143.0
92    178.0
Name: 4, dtype: float64
2      72.0
12    790.0
22     60.0
32    421.0
42    690.0
52    159.0
62    142.0
72    486.0
82    438.0
92    853.0
Name: 5, dtype: float64
2     108.0
12    734.0
22    271.0
32    538.0
42    900.0
52    271.0
62     15.0
72    960.0
82    728.0
92    387.0
Name: 6, dtype: float64
2     724.0
12    306.0
22    262.0
32    300.0
42    113.0
52    799.0
62    258.0
72    479.0
82    447.0
92     28.0
Name: 7, dtype: float64
2     539.0
12    616.0
22    443.0
32    488.0
42    832.0
52    226.0
62    329.0
72    157.0
82    289.0
92    413.0
Name: 8, dtype: float64
2     511.0
12    143.0
22    948.0
32    482.0
42    848.0
52    902.0
62    135.0
72    338.0
82    460.0
92    456.0
Name: 9, dtype: float64
2     2004
12    2004
22    2004
32    2004
42    2004
52    2004
62    2004
72    2004
82    2004
92    2004
Name: Id, dtype: int64
11 rows successfully written (F9J37304YO)
3     647.0
13      8.0
23    139.0
33    504.0
43    117.0
53    999.0
63    407.0
73    487.0
83    340.0
93    407.0
Name: 0, dtype: float64
3     345.0
13    672.0
23    620.0
33     86.0
43    634.0
53    321.0
63    862.0
73    556.0
83    605.0
93    343.0
Name: 1, dtype: float64
3     277.0
13    869.0
23     27.0
33    274.0
43    745.0
53    596.0
63    228.0
73    128.0
83    572.0
93    901.0
Name: 2, dtype: float64
3     658.0
13    496.0
23     47.0
33    806.0
43    508.0
53    738.0
63    116.0
73    307.0
83    359.0
93    692.0
Name: 3, dtype: float64
3     709.0
13    436.0
23    455.0
33    734.0
43    724.0
53    913.0
63    215.0
73    579.0
83    240.0
93    299.0
Name: 4, dtype: float64
3     307.0
13    767.0
23    616.0
33    721.0
43    551.0
53    666.0
63    993.0
73    316.0
83    567.0
93    532.0
Name: 5, dtype: float64
3      92.0
13    552.0
23    128.0
33    879.0
43    476.0
53    158.0
63    373.0
73    547.0
83    256.0
93    413.0
Name: 6, dtype: float64
3     390.0
13    771.0
23    742.0
33    181.0
43    584.0
53    866.0
63    157.0
73    391.0
83    134.0
93    214.0
Name: 7, dtype: float64
3      884.0
13      26.0
23     436.0
33     125.0
43     499.0
53     531.0
63     148.0
73     606.0
83    1002.0
93     328.0
Name: 8, dtype: float64
3     213.0
13    663.0
23    937.0
33    378.0
43    432.0
53    498.0
63    150.0
73    111.0
83    705.0
93    789.0
Name: 9, dtype: float64
3     3009
13    3009
23    3009
33    3009
43    3009
53    3009
63    3009
73    3009
83    3009
93    3009
Name: Id, dtype: int64
11 rows successfully written (ZQ1MFb8FNv)
4     616.0
14    918.0
24    360.0
34    590.0
44    510.0
54    656.0
64    251.0
74    214.0
84     35.0
94    298.0
Name: 0, dtype: float64
4     148.0
14     54.0
24    570.0
34    660.0
44    210.0
54    604.0
64    444.0
74    386.0
84    146.0
94    711.0
Name: 1, dtype: float64
4     844.0
14    444.0
24     87.0
34    410.0
44    638.0
54    717.0
64     39.0
74    579.0
84    436.0
94    438.0
Name: 2, dtype: float64
4     570.0
14    153.0
24    349.0
34    759.0
44    379.0
54    774.0
64    719.0
74    776.0
84    256.0
94    191.0
Name: 3, dtype: float64
4     923.0
14     22.0
24     78.0
34    590.0
44    596.0
54    781.0
64    514.0
74    304.0
84     41.0
94    206.0
Name: 4, dtype: float64
4     384.0
14    480.0
24    752.0
34    679.0
44    587.0
54    510.0
64    903.0
74    663.0
84    917.0
94    921.0
Name: 5, dtype: float64
4     199.0
14    702.0
24    623.0
34    781.0
44    431.0
54    299.0
64    170.0
74    599.0
84    277.0
94    239.0
Name: 6, dtype: float64
4     935.0
14    877.0
24    413.0
34    985.0
44    180.0
54    331.0
64    335.0
74    751.0
84    366.0
94    930.0
Name: 7, dtype: float64
4     181.0
14    109.0
24    523.0
34    298.0
44    957.0
54    676.0
64    441.0
74    321.0
84    939.0
94    415.0
Name: 8, dtype: float64
4     580.0
14    947.0
24    546.0
34    287.0
44    545.0
54    367.0
64    495.0
74     23.0
84     59.0
94    256.0
Name: 9, dtype: float64
4     4016
14    4016
24    4016
34    4016
44    4016
54    4016
64    4016
74    4016
84    4016
94    4016
Name: Id, dtype: int64
11 rows successfully written (PdfbRIS15w)